@model Department
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
<div asp-validation-summary="All"></div>

<form asp-action="SaveUpdate" asp-controller="Department" method="post">
    <input type="hidden" asp-for="Id" />

    <label asp-for="Name">Name</label>
    <input asp-for="Name" class="form-control form-control m-2" value ="@Model.Name"/>

    <label asp-for="ManagerName">Manager Name</label>
    <input asp-for="ManagerName" class="form-control form-control m-2" value="@Model.ManagerName" />

    <button class="btn btn-primary m-2">Save</button>
</form>

